<% include ./partials/header %>
<link rel="stylesheet" href="../css/products.css">
<!-- existing products section -->
<div class="col-sm-8">
    <!-- update screen start -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="updateText">
            </div>
        </div>
    
    </div>
    <!-- update screen end -->
<div class="cat-select">
 <% var arr = [];%>  
 <% var f=0%>
 <% var len =0%> 
    <table class="seller_products">
    <%for(var i in products){%>
            
            <tr>
                <th class = "category" colspan="8">CATEGORY: <%=i%></th>
            </tr>
            <tr colspan="7">
                <%for(var j in products[i] ){%>
                    <%for(var k in products[i][j] ){%>
                    <%arr.push("k"+k)%>
                    <%}%>
                    
                <%if(f==0){%>
                    <%for(var k in products[i][j] ){%>
                        <th><%=k%></th>
                        
                     <%f=1%> 
                     <%len+=1;%>                    
                    <%}%> 
                    <%while(len!=8){%>
                        <th></th>
                        <%len+=1;%>
                    <%}%>    
                <%}%>
            </tr>
            <tr>
            <%for(var k in products[i][j] ){%>
                    <%arr.push("a"+products[i][j][k])%>  
                    <%if(k =="URL"){%> 
                    <td class="product_values">
                         <a href="<%=products[i][j][k]%>" target="_blank">View Image</a>
                    </td>
                    <%}%>
                    <%if(k!="URL"){%>
                    <td class="product_values">
                        <%=products[i][j][k]%>
                    </td>
                    <%}%>               
            <%}%> 
            

                    <td class="product_values"> <button onclick="update('<%-arr%>')">Update</button></td>
            </tr>
            <%arr = []%>
        <%}%>
        <%f=0%>
        <%len=0%>
    <%}%>  
    </table>

</div>
</div>
<!-- new products section -->
<div class="col-sm-2">
   <button onclick="window.location.href ='/<%=seller.id%>/products/new'">Add new products</button>   
</div> 
<!-- closed row -->
</div>
<!-- closed container -->
</div>
<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
<script src="../js/auth.js"></script>
<script>
    var modal = document.getElementById('myModal');
    var span = document.getElementsByClassName("close")[0];
    var updateText = document.getElementById('updateText');
    var productObject ={};
function update(product){
    productObject = createObject(product);
    //add innerhtml to updateText
    modal.style.display = "block";
    var text="<form>";
    for(key in productObject){
        if(key!='URL')
        text+=  '<label class = "tag">'+key+'</label><input type = "text" id ="'+key+'" value = "'+productObject[key]+'"><br>';
    }
    text+='<input type="button" onclick ="fireUpdate()" value ="Update"> <input type = "button" onclick = "cancel()" value ="Cancel"></form>';
    updateText.innerHTML = text;
    
};

function fireUpdate(){
    var localObj = {};
    for(key in productObject){
        if(key!='URL'){
            var changedVal = document.getElementById(key).value;
            if(changedVal!=productObject[key])
               localObj[key] = changedVal;
        }
    }
    console.log(localObj);
}
//close btn for modal
span.onclick = function () {
    modal.style.display = "none";
    //remove innerhtml also
    document.getElementById('updateText').innerHTML = "";
}
//close modal if click outside screen
window.onclick = function (event) {
    if (event.target == modal) {
        modal.style.display = "none";
        //remove innerhtml also
        document.getElementById('updateText').innerHTML = "";
    }
}
function cancel(){
    modal.style.display = "none";
    //remove innerhtml also
    document.getElementById('updateText').innerHTML = ""; 
}
function createObject(productArray) {
    var localArrKeys = [];
    var localArrVal = [];
    var object = {};
    var separated = productArray.split(",");
    // console.log(separated);
    //storings keys in separated array
    for (var i = 0; i < separated.length; i++) {
        if (separated[i].charAt(0) == "k")
            localArrKeys.push(separated[i].slice(1));
    }
    //removing those keys from original array
    for (var i = 0; i < localArrKeys.length; i++)
        separated.shift();
    for (var i = 0; i < separated.length; i++) {

        if (separated[i].charAt(0) != "a") {
            var j = i;
            while (separated[j].charAt(0) != "a") {
                separated[i - 1] += "," + separated[j];
                separated.splice(j, 1)
            }

        }
        if (separated[i].charAt(0) == "a") {
            separated[i] = separated[i].slice(1);
        }
    }
    for (var i = 0; i < separated.length; i++)
        object[localArrKeys[i]] = separated[i];
    return object;
};
</script>
</body>
</html>
