<% include ./partials/header %>
<link rel="stylesheet" href="../css/sales.css">

<%if(sales == null){%>
    <h1 class="noItems">No records to show</h1>
<%}else{%>
    <div id="showSales" class="col-sm-10">
        <%for(cat in sales){%>
            <%if(cat!='not_Sold'){%>
                <div class="category">
                    <h6><span><%=cat.toUpperCase()%></span></h6>
                </div>
                <%for(prod in sales[cat]){%>
                    <div class="Sales_Posts">
                        <div class="leftcl">
                            <div><span class="heading">ITEM:</span>
                                <%=sales[cat][prod]['NAME']%>
                            </div>
                            <%if('SIZE' in sales[cat][prod]){%>
                            <div><span class="heading">SIZE:</span>
                                <%=sales[cat][prod]['SIZE']%>
                            </div>
                            <%}%>
                            <%if('WEIGHT' in sales[cat][prod]){%>
                            <div><span class="heading">WEIGHT:</span>
                                <%=sales[cat][prod]['WEIGHT']%>
                            </div>
                            <%}%>
                            <div><span class="heading">QTY:</span>
                                <%=sales[cat][prod]['QTY']%>
                            </div>
                            
                        </div>
                        <div class="rightcl">
                            <div><span class="heading">CUSTOMER PAID:</span>
                                <%=sales[cat][prod]['Amount_retrieved']%>
                            </div>
                            <div><span class="heading">BUYER:</span>
                                <%=sales[cat][prod]['Buyer_Name']%>
                            </div>
                            <div><span class="heading">DATE AND TIME OF BOOKING:</span>
                                <%=sales[cat][prod]['Time_Of_Booking']%>
                                <%=sales[cat][prod]['Date_Of_Booking']%>
                            </div>
                        </div>
                    </div>
                <%}%>  
            <%}%>     
        <%}%>
        <%if('not_Sold'in sales){%> 
            <div class="category">
                <h6><span>NOT SOLD</span></h6>
            </div>
            <%for(cat in sales['not_Sold']){%>
                <%for(prod in sales['not_Sold'][cat]){%>
                <div class="Sales_Posts">
                    <div class="leftcl">
                        <div><span class="heading">ITEM:</span>
                            <%=sales['not_Sold'][cat][prod]['NAME']%>
                        </div>
                        <%if('SIZE' in sales['not_Sold'][cat][prod]){%>
                        <div><span class="heading">SIZE:</span>
                            <%=sales['not_Sold'][cat][prod]['SIZE']%>
                        </div>
                        <%}%>
                        <%if('WEIGHT' in sales['not_Sold'][cat][prod]){%>
                        <div><span class="heading">WEIGHT:</span>
                            <%=sales['not_Sold'][cat][prod]['WEIGHT']%>
                        </div>
                        <%}%>
                        <div><span class="heading">QTY:</span>
                            <%=sales['not_Sold'][cat][prod]['QTY']%>
                        </div>
                
                    </div>
                    <div class="rightcl">
                        <div><span class="heading">CUSTOMER PAID:</span>
                            <%=sales['not_Sold'][cat][prod]['Amount_to_retrieve']%>
                        </div>
                        <div><span class="heading">BUYER:</span>
                            <%=sales['not_Sold'][cat][prod]['Buyer_Name']%>
                        </div>
                        <div><span class="heading">DATE AND TIME OF BOOKING:</span>
                            <%=sales['not_Sold'][cat][prod]['Time_Of_Booking']%>
                            <%=sales['not_Sold'][cat][prod]['Date_Of_Booking']%>
                        </div>
                    </div>
                </div>
                <%}%>
            <%}%>    
        <%}%>      
    </div>
<%}%>    
<!-- closed row -->
</div>
<!-- closed container -->
</div>
<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
<script src="../js/auth.js"></script>
<script src="../js/sales.js"></script>
</body>

</html>